*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 75vh;
    width: 22vw;
    margin: 48px;
    border-radius: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar-nav{
    padding: 15px;
}
.navbar nav li{
    padding: 32px;
    font-size: 1.5rem;
    list-style: none;
}
h3{
    color: #039;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main{
    width: 85vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* padding: 10vw; */
}
.container{
    display: flex;
}
@media  screen and (max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
    }

}
.Myinfo{
    margin-left: -16px;
    margin-top: 25px;
    width:21vw;
    height: 20vh;
    padding-top: 8px;
    padding-left: 20px;
    border-radius: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Myinfo1{
    margin-left: -16px;
    margin-top: 16px;
    width:21vw;
    height: 10vh;
    padding-top: 8px;
    padding-left: 20px;
    border-radius: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Photo{
    margin-top: -3.3vw;
    margin-left: 27.5vw;
}
.Mypic{
    margin-left: 33px;
    margin-top: 33px;
    margin-right: 48px;
    border-radius: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Hello{
    margin-top: 48px;
    margin-left: -24px;
    margin-right: 48px;
    padding: 40px;
    height: 35vh;
    border-radius: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
Myinfo-li{
    margin: 10px;
}
.sidebar{
    transform: translate(-400px, 0px);
    position: absolute;
}
#x3{
    width: 23px;
    position: absolute;  
}
#x2{
    width: 23px;
    left: 132px;
    position: absolute;  
}
#side{
    position: absolute;
    margin-top: 5px;
    left: 7px;
    cursor: pointer;
}
  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }