.group {
    height: fit-content;
    width: 18%;
    left: 2%;
    margin-top: 1.5rem;
    position: fixed;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #F8F8F8;
}

.groupTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.groupWrapper {
    padding: 4%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #039;
    background-color: rgb(179, 179, 179);
}

.line {
    width: 100%;
    color: grey;
    margin: 1% 0% 1% 0%;
}

.homePage {
    color: #039;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    
}



.link{
    text-decoration: none;
    color: inherit;
}

.section-1 {
    color: #039;
    font-size: 100%;
    font-weight: bold;
    padding: 1% 1% 0% 1%;
}

.section-2 {
    color: #039;
    font-size: 100%;
    font-weight: bold;
    padding: 1% 1% 0% 1%;
}

.section-3 {
    color: #039;
    font-size: 100%;
    font-weight: bold;
    padding: 1% 1% 0% 1%;
}

.club-1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1.5%;
}

.noBullets-1{
    padding: 0%;
    margin: 1%;
}
.noBullets-2{
    padding: 0%;
    margin: 1%;

}
.noBullets-3{
    padding: 0%;
    margin: 1%;

}

.club-2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1.5%;
}

.club-3 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1.5%;
}


.l-1 {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.l-2 {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.l-3 {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

.scrollable-list-1 {
    overflow-y: scroll;
    height: 133px;
    width: 95%;
    padding: 0px;
    margin: 1% 0% 0% 2.5%;
}

.scrollable-list-2 {
    overflow-y: scroll;
    height: 133px;
    width: 95%;
    padding: 0%;
    margin: 1% 0% 0% 2.5%;
}

.scrollable-list-3 {
    overflow-y: scroll;
    height: 133px;
    width: 95%;
    padding: 0%;
    margin: 1% 0% 0% 2.5%;
}


.initials1 {
height: 37px;
left: 23%;
padding-left: 2%;
position: absolute;
top: 2%;
width: 60%;
}

.handleAccount1{
font-weight: 300;
font-size: smaller;
}

.handleUsername1{
font-weight: 400;
}

.shareProfileImg1 {
width: 45px;
height: 45px;
border-radius: 50%;
object-fit: cover; 
padding: 2%;
}