.container {
  height: 750px;
  width: 600px;
  right: 90px;
  top: 10px;
  position: fixed;
  top: 48px;
  border-radius: 8px;
  background-color: #F8F8F8;
  box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.15);

  }


  
  .form-group {
    padding: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
 
  
  .drag-drop-field {
    border: 2px dashed #ccc;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }

input[type="text"]{
  margin-top: 20px;
  width: 95%;
  height: 50px;
  font-size: large;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}


input[type="file"] {
  display: none; /* Hide the default input elements */
}

  .submit{
    margin-top: 20px;
  }
  
  .drag-drop-text {
    margin-bottom: 1rem;
  }
  
  .preview-image img {
    width: 100%;
    height: auto;
  }
  
  .preview-file p {
    margin: 0;
  }
  
  button[type="submit"] {
    background-color: #039;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #039;
  }
  