.share {
  height: fit-content;
  width: 30%;
  right: 1.5%;
  position: fixed;
  margin-top: 5vh;
  border-radius: 8px;
  background-color: #F8F8F8;
  box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.shareWrapper {
  padding: 2%;
}


.initials2 {
  height: 37px;
  left: 23%;
  padding-left: 2%;
  position: absolute;
  top: 2%;
  width: 60%;
  }

.handleAccount2{
  font-weight: 300;
  font-size: smaller;
  }
  
  .handleUsername2{
  font-weight: 400;
  }

.shareProfileImg2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover; 
  padding: 2%;
}

.shareInput {
  border: none;
  height: 45px;
  width: 95%;
  text-align: left;
  border-radius: 32px;
  background: #D9D9D9;
  padding: 15px;
  margin: 10px;
}


.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}


.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 15px;
  border-radius: 50px;
  background: #039;
  font-weight: 500;
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}